<launch>
    <arg name="road_trajectory_topic" default="/road_trajectory"/>
    <arg name="incoming_image" default="/camera1/image_raw"/>

    <node name="new_road_detection" pkg="drive_ros_image_recognition" type="new_road_detection_node" respawn="false" output="screen">
        <remap from="~/img_in" to="$(arg incoming_image)"/>
        <remap from="~/road_in" to="$(arg road_trajectory_topic)"/>
        <!-- todo: car command output channel, as we have not decided on the interface yet, will comment for now
        <remap from="car" to "car_out"/> -->
        <rosparam command="load" file="$(find drive_ros_image_recognition)/config/new_road_detection.yaml"/>
        <!--we need this for image-world transformations-->
        <rosparam command="load" file="$(find drive_ros_image_recognition)/config/homography_matrix.yaml"/>
    </node>
</launch>
