<launch>
    <arg name="street_crossing_nodelet_manager" default=""/>
    <arg name="incoming_image" default="/camera/image_raw"/>

    <!-- if no manager provided, load it -->
    <group if="$(eval arg('street_crossing_nodelet_manager') == '')">
        <node pkg="nodelet" type="nodelet" name="street_crossing_nodelet_manager"  args="manager" output="screen"/>

        <node pkg="nodelet" type="nodelet" name="street_crossing_detection_nodelet" args="load drive_ros_image_recognition/StreetCrossingDetectionNodelet street_crossing_nodelet_manager" output="screen">
            <remap from="~/img_in" to="$(arg incoming_image)"/>
        </node>
    </group>

    <!-- use provided nodelet manager -->
    <group unless="$(eval arg('street_crossing_nodelet_manager') == '')">

        <node pkg="nodelet" type="nodelet" name="street_crossing_detection_nodelet" args="load drive_ros_image_recognition/StreetCrossingDetectionNodelet street_crossing_nodelet_manager" output="screen">
            <remap from="~/img_in" to="$(arg incoming_image)"/>
        </node>
    </group>

</launch>
