<launch>
    <arg name="street_crossing_nodelet_manager" default=""/>
    <arg name="incoming_image" default="/camera1/image_raw"/>

    <!-- if no manager provided, load it -->
    <group if="$(eval arg('street_crossing_nodelet_manager') == '')">
        <node pkg="nodelet" type="nodelet" name="street_crossing_nodelet_manager"  args="manager" output="screen"/>

        <node pkg="nodelet" type="nodelet" name="street_crossing_detection_nodelet" args="load drive_ros_image_recognition/StreetCrossingDetectionNodelet street_crossing_nodelet_manager" output="screen">
            <remap from="~/img_in" to="$(arg incoming_image)"/>
            <!--we need this for image-world transformations-->
            <rosparam command="load" file="$(find drive_ros_image_recognition)/homography_matrix.yaml"/>
        </node>
    </group>

    <!-- use provided nodelet manager -->
    <group unless="$(eval arg('street_crossing_nodelet_manager') == '')">

        <node pkg="nodelet" type="nodelet" name="street_crossing_detection_nodelet" args="load drive_ros_image_recognition/StreetCrossingDetectionNodelet street_crossing_nodelet_manager" output="screen">
            <remap from="~/img_in" to="$(arg incoming_image)"/>
            <!--we need this for image-world transformations-->
            <rosparam command="load" file="$(find drive_ros_image_recognition)/homography_matrix.yaml"/>
        </node>
    </group>

</launch>
