<launch>
    <arg name="vision_nodelet_manager" default=""/>

    <arg name="camera_image_topic" default="/camera1/image_raw"/>
    <arg name="warped_image_topic" default="/warped_image"/>
    <!-- debug: undistored camera image (not warped) -->
    <arg name="undistored_image_topic" default="/undistorted_image"/>

    <!-- road trajectory -->
    <arg name="road_trajectory_topic" default="/road_trajectory"/>

    <!-- if no manager provided, load it -->
    <group if="$(eval arg('vision_nodelet_manager') == '')">
        <node pkg="nodelet" type="nodelet" name="vision_nodelet_manager"  args="manager" output="screen"/>

        <include file="$(find drive_ros_image_recognition)/warp_image_nodelet.launch">
            <arg name="warp_nodelet_manager" value="vision_nodelet_manager" />
            <arg name="camera_image_topic" value="$(arg camera_image_topic)" />
            <arg name="warped_image_topic" value="$(arg warped_image_topic)" />
            <arg name="undistort_out" value="$(arg undistored_image_topic)" />
        </include>

        <include file="$(find drive_ros_image_recognition)/new_road_detection_nodelet.launch">
            <arg name="new_road_detection_nodelet_manager" value="vision_nodelet_manager" />
            <arg name="road_trajectory_topic" value="$(arg road_trajectory_topic)" />
            <arg name="incoming_image" value="$(arg warped_image_topic)" />
        </include>
    </group>

    <!-- use provided nodelet manager -->
    <group unless="$(eval arg('vision_nodelet_manager') == '')">
        <include file="$(find drive_ros_image_recognition)/warp_image_nodelet.launch">
            <arg name="warp_nodelet_manager" value="$(arg vision_nodelet_manager)" />
            <arg name="camera_image_topic" value="$(arg camera_image_topic)" />
            <arg name="warped_image_topic" value="$(arg warped_image_topic)" />
            <arg name="undistort_out" value="$(arg undistored_image_topic)" />
        </include>

        <include file="$(find drive_ros_image_recognition)/new_road_detection_nodelet.launch">
            <arg name="new_road_detection_nodelet_manager" value="$(arg vision_nodelet_manager)" />
            <arg name="road_trajectory_topic" value="$(arg road_trajectory_topic)" />
            <arg name="incoming_image" value="$(arg warped_image_topic)" />
        </include>
    </group>
</launch>
